@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

$color-primary: #FAEAD0;
$color-secondary: #6C2628;
$color-tertiary: #F6A204;

$txt-primary: $color-secondary;

@mixin desktop() {
	@media (max-width: 600px) {
		@content;
	}
}