@import "mixins";

/* Header */
/* Currently the max character length for the header title is 8 characters */

.header{
	display: grid;
  text-align: center;
	height: 100%;
	
	.headerTitle{
		font-size: 36vw;
		grid-column: 1;
		grid-row: 1;
		color: $txt-primary;
		background-image: linear-gradient($txt-gradient, $txt-primary);
		background-clip: text;
		color: transparent;
		font-family: $font-primary;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 6vh;
		line-height: .6;
	}

	.headerBody {
		grid-column: 1;
		grid-row: 2;
		background-color: $color-secondary;
		height: 60vh;

		.content{
			text-align: center;
			margin-top: 10vh;
			font-family: $font-secondary;
			font-size: larger;
			font-weight: bold;
			color: $color-quinary;
		}
		.contentTitle{
			margin-top: 15vh;
			text-align: center;
			font-family: $font-secondary;
			font-size: x-large;
			font-weight: bold;
			color: $color-quinary;
		}
	}
}

/* Body Sections */

.bodyA {
	grid-column: 1;
	grid-row: 3;
	background-color: $color-secondary;
	height: 100%;


	.title {
		text-align: start;
		font-size: 15vw;
		color: $color-tertiary;
		grid-column: 1;
		font-family: 'League Gothic', sans-serif;
		margin-bottom: 0;
		margin-top: 0;
		line-height: .6;
	}

	.bodyBlockA{
		grid-column: 1;
		grid-row: 2;
		background-color: $color-tertiary;
		height: 60vh;
	}

	.content{
		padding-top: 15vh;
		.contentTitle{
			font-size: x-large;
			padding-bottom: 10vh;
		}
		p {
		color: $color-secondary;
		text-align: center;
		font-size: larger;
		font-family: $font-secondary;
		}
	}
}

.bodyTwo {
	grid-column: 1;
	grid-row: 4;
	height: 100%;

	.title {
		text-align: end;
		font-size: 15vw;
		color: $text-quaternary;
		grid-column: 1;
		font-family: 'League Gothic', sans-serif;
		margin-bottom: 0;
		margin-top: 0;
		line-height: .6;
		background-color: $color-tertiary;
	}

	.bodyBlockTwo{
		grid-column: 1;
		grid-row: 2;
		background-color: $color-quaternary;
		height: 60vh;
	}

	.content{
		padding-top: 15vh;
		.contentTitle{
			font-size: x-large;
			padding-bottom: 10vh;
		}
		p {
		color: $color-primary;
		text-align: center;
		font-size: larger;
		font-family: $font-secondary;
		}
	}
}

/* Footer */

.footer {

	p{
		text-align: center;
		font-family: 'League Gothic', sans-serif;
		font-size: small;
		color: $color-primary;
		background-color: $color-quinary;
		margin-top: 0;
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 2vh;
		padding-top: 2vh;
	}
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
