@import "mixins";

/* Header */
/* Currently the max character length for the header title is 8 characters */

.header{
	display: grid;
  text-align: center;

	.headerIntro{
		font-family: $font-secondary;
		margin-bottom: 0;
		margin-top: 10%;
		font-size: x-large;
		color: $text-quinary;
	}
	
	.headerTitle{
		font-size: 28vw;
		color: $txt-primary;
		background-image: linear-gradient($txt-gradient, $txt-primary);
		background-clip: text;
		color: transparent;
		font-family: $font-primary;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		margin-top: 3vh;
		padding-top: 6vh;
		line-height: .6;
	}

	.headerBody {
		background-color: $color-secondary;
		padding-top: 10vh;
		padding-left: 5vw;
		padding-right: 5vw;
		padding-bottom: 22vh;

		.content{
			text-align: center;
			margin-top: 5vh;
			font-family: $font-secondary;
			font-size: larger;
			font-weight: bold;
			color: $color-quinary;

			.btn{
				background-color: $txt-gradient;
				padding: 0 2px 0 2px;
			}
			.btn:hover{
				background-color: $color-tertiary;
				color: $text-secondary;
			}
		}
		.contentTitle{
			margin-top: 15vh;
			text-align: center;
			font-family: $font-secondary;
			font-size: x-large;
			font-weight: bold;
			color: $color-quinary;
		}
	}
}

@media screen and(max-width: 450px) {
	.header{
		.headerTitle{
			margin-top: 3vh;
		}
	}
}

/* Body Sections */

.bodyOne {
	background-color: $color-secondary;

	.title {
		text-align: start;
		font-size: 15vw;
		color: $color-tertiary;
		font-family: 'League Gothic', sans-serif;
		margin-bottom: 0;
		margin-top: 0;
		line-height: .6;
	}

	.bodyBlockA{
		background-color: $color-tertiary;
	}

	.content{
		padding-top: 10vh;
		padding-left: 5vw;
		padding-right: 5vw;
		padding-bottom: 10vh;
		.contentTitle{
			font-size: x-large;
			padding-bottom: 5vh;
		}
		p {
		color: $color-secondary;
		text-align: center;
		font-size: larger;
		font-family: $font-secondary;
		white-space: normal;

		a{
			background-color: $color-quaternary;
			padding: 0 2px 0 2px;
		}
		a:hover{
			background-color: $color-secondary;
			color: $text-secondary;
		}
		}
	}
}

.bodyTwo {
	height: 100%;

	.title {
		text-align: end;
		font-size: 15vw;
		color: $text-quaternary;
		font-family: 'League Gothic', sans-serif;
		margin-bottom: 0;
		margin-top: 0;
		line-height: .6;
		background-color: $color-tertiary;
	}

	.bodyBlockTwo{
		background-color: $color-quaternary;
	}

	.content{
		padding-top: 10vh;
		padding-left: 5vw;
		padding-right: 5vw;
		padding-bottom: 10vh;
		.contentTitle{
			font-size: x-large;
			padding-bottom: 10vh;
		}
		p {
		color: $text-quaternary;
		text-align: center;
		font-size: larger;
		font-family: $font-secondary;
		}
	}
}

/* Projects */

.projectText{
	color: $text-quinary;
	text-align: center;
	margin-bottom: 10vh;
	font-family: $font-secondary;

	.btn {
		background-color: $txt-gradient;
		color: $text-quaternary;
	}

	.btn:hover{
		background-color: $color-quaternary;
		color: $text-secondary;
	}
}

.cardCont {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.flip{
		background-color: transparent;
		width: 300px;
		height: 300px;
		border-radius: 50%;
		perspective: 1000px;
		margin-top: 15px;
	}
	
	.card{
		position: relative;
		text-align: center;
		transition: transform 0.8s;
		transform-style: preserve-3d;
		background-color: $color-primary;
		border-radius: 50%;
		width: 300px;
		height: 300px;
	}
	
	.flip:hover .card{
		transform: rotateY(180deg);
	}
	
	.cardFront, .cardBack{
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
	}
	
	.cardFront{
		margin-top: 10%;
	}
	
	.cardBack{
		transform: rotateY(180deg);
		background-color: $color-primary;
		border-radius: 50%;

		.backAbout{
			margin-top: 12%;
		}

		h3 {
			font-family: $font-primary;
			font-size: xxx-large;
			margin: 25% 20% 10% 20%;
			background-color: $color-primary;
			border-radius: 50%;
			padding: 50px 0px 40px 0px;
		}

		h3:hover {
			color: $color-secondary;
		}
	}
}

.mobilePContainer {
	.mobileText{
		text-align: center;
		color: $text-secondary;
	}
	.mobileCard{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		.each{
			margin-top: 3vh;
			background-color: $color-secondary;
			.mobileImgContainer{
				width: 100vw;
				display: flex;
				justify-content: center;
				.mobileCardImg{
				}
			}
		}
	}
}

/* Navigation - mobile in sep .css file */

.desktopNav {
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: $txt-primary;
	background-color: $color-quaternary;

	.navLeft {

		margin-right: auto;
		margin-top: 5px;

		a {
			padding-left: 10px;
			padding-right: 10px;
			align-items: center;
		}

		a:hover {
			color: $color-primary;
		}
	}

	.navRight {

		

		a {
			padding: 10px 10px;
			font-weight: bold;
			font-family: $font-secondary;
		}

		a:hover {
			color: $color-tertiary;
		}

		.resumeBtn {
			background-color: $color-primary;
		}

		.resumeBtn:hover {
			background-color: $color-primary;
		}
	}
}

/* Footer */

.footer {

	p{
		text-align: center;
		font-family: 'League Gothic', sans-serif;
		font-size: large;
		color: $color-primary;
		background-color: $color-quinary;
		margin-top: 0;
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 2vh;
		padding-top: 2vh;
	}
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

